// MAIN
.cont-main {
    width: 100%;
    height: 20%;
    margin-top: 110px;

    .container h2 {
        padding: 0px 450px;
        font-weight: 600;
        color: $primary-col;
    }

    .container p {
        padding: 20px 450px;
        line-height: 28px;
        color: $black;
    }
}